body
{
	background-image: url("../img/tlo.jpg");
	background-attachment: fixed;
	margin: 0 !important;
}

#menu
{
	width: 100%;
	background-color: rgb(130, 230, 255);
	background-color: rgba(130, 230, 255, .3);
	margin-bottom: 5px;
	height: 50px;
}

#dom
{
	float: left;
	border-right: dotted 1px white;
	padding: 5px;
}

#dom > a
{
	color: white;
}

#dom:hover
{
	cursor: pointer;
	background-color: #018afe;
}

#mail
{
	float: left;
	border-right: dotted 1px white;
	padding: 5px;
}

#mail > a
{
	color: white;
}

#mail:hover
{
	cursor: pointer;
	background-color: #018afe;
}

#logo
{
	float: left;
	border-right: dotted 1px white;
	padding: 5px;
	color: white;
}

#logo:hover
{
	background-color: #018afe;
}

#fb
{
	float:left;
	border-right: dotted 1px white;
	padding: 5px;
	color: white;
}

#fb:hover
{
	background-color: #018afe;
}

#pojemnik
{
	font-family: 'Oxygen', sans-serif;
}

#mainp
{
	text-align: center;
	font-size: 14px;
}

#mainp > a
{
	color: #001B37;
}

#mainp > a:hover
{
	color: darkgray;
	text-decoration: underline overline;
}

/*#stopka
{
	background-color: #47A4FF;
	text-align: center;
	color: #001B37;
	margin-bottom: 5px;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
}*/

.sticky
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

#forma
{
	background-color: white;
	width: 300px;
	padding: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #4D4D4D;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 16px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 5px;
	text-align: center;
}

input[type=submit]
{
	width: 300px;
	background-color: #1E90FF;
	font-size:16px;
	color: white;
	padding: 5px;
	margin-top: 15px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #56ACFF;
}

select
{
	width: 150px;
	background-color: #efefef;
	color: #4D4D4D;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 14px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 5px;
	text-align: center;
}

#szukaj
{
	background-color: white;
	width: 410px;
	padding: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

#wyniki
{
	background-color: white;
	width: 700px;
	padding: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: calibri;
	font-size: 16px;
}

#wyniki > a
{
	color: #1E90FF;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
}

#wyniki > a:hover
{
	color: gray;
	text-decoration: underline overline;
}

#wyniki > hr
{
	border: 0;
	border-top: 1px solid #8c8c8c;
	border-bottom: 1px solid #fff;
}

#menubar
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(130, 230, 255);
	background-color: rgba(130, 230, 255, .3);
}