### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Przeglądaj ?p=katalog
RewriteRule Wyniki ?p=szukaj
RewriteRule Logowanie ?p=zaloguj
RewriteRule StronaGłówna index.php
RewriteRule Bibliotekarz bib/bibliotekarz.php
